.full-width-table {
  width: 100%;
}

.table-container {
  position: relative;
  height: 100%;
}

.table-space {
  max-height: calc(100% - 56px);
  overflow: auto;
}

.mat-paginator {
  position: absolute;
  bottom: 0;
  right: 0;
}
