<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="fit">
    <mat-grid-tile>
      <mat-list>
        <mat-list-item
          ><img
            src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png"
        /></mat-list-item>
        <mat-list-item> <span class="temperature">23°C</span></mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item><h1 class="mat-h1">Washington</h1></mat-list-item>
        <mat-list-item
          ><h2 class="mat-h2">District of Columbia</h2></mat-list-item
        >
        <mat-list-item
          ><h3 class="mat-h3">United States of America</h3></mat-list-item
        >
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
